{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% load static %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="wrap d-md-flex">
                    <div class="text-wrap p-4 p-lg-5 d-flex img" style="background-image: url({% static 'images/bg.jpg' %});">
                        <div class="text w-100">
                            <h2 class="mb-4">Welcome to Academic Edge</h2>
                            <p>Embark on a transformative educational journey with Academic Edge, where knowledge meets innovation and opportunities abound.</p>
                        </div>
                    </div>
                    <div class="login-wrap p-4 p-md-5">
                        <div class="row justify-content-center py-md-5">
                            <div class="col-lg-9">


                                {% url 'account_login' as login_url %}
                                {% element form form=form method="post" action=login_url tags="entrance,login" %}
                                    {% slot body %}
                                        {% csrf_token %}
                                        {% element fields form=form unlabeled=True %}
                                        {% endelement %}
                                        {% if redirect_field_value %}
                                            <input type="hidden"
                                                name="{{ redirect_field_name }}"
                                                value="{{ redirect_field_value }}" />
                                        {% endif %}
                                    {% endslot %}
                                    {% slot actions %}

                                        {% element button type="submit" tags="prominent,login" %}
                                         {% trans "Sign In" %}
                                        {% endelement %}

                                        <p class="mt-4">
                                        {% blocktrans %}If you don't have account yet <a href="{{ signup_url }}">Sign Up</a> here{% endblocktrans %}
                                        </p>
                                    {% endslot %}
                                {% endelement %}
                                {% if SOCIALACCOUNT_ENABLED %}
                                    {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
