{% extends "account/base_entrance.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    <p class="mt-4 text-center" style="font-size: 30px; color: red;">{% trans "Change Password" %}</p>
    {% url 'account_change_password' as action_url %}
    {% element form form=form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
        <div class="col-md-4 ">
            <div class="form-group">
                <label class="label" for="email">New Password</label>
                <input type="password" name="password1" class="form-control">
            </div>
            <div class="form-group">
                <label class="label" for="email">New Password(again)</label>
                <input type="password" name="password2" class="form-control">
            </div>
        </div>
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
        <div class="form-group d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">{% trans "Change Password" %}</button>
        </div>
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        {% endslot %}
    {% endelement %}
{% endblock content %}
