{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
    <p class="mt-4 text-center" style="font-size: 30px; color: green;"> {% trans "Change Password" %}</p>
    {% endelement %}
    <p class="mt-4 text-center">{% trans 'Your password is now changed.' %}</p>

    <div class="form-group d-flex justify-content-center">
        <button type="submit" class="btn btn-primary"><a href="{% url 'accounts:signin' %}" style="color: white;">Sign In</a></button>
    </div>
{% endblock content %}
