{% extends 'base/base.html' %}
{% load static %}

{% block title %}Profile{% endblock title %}

{% block content %}
<h3 class="mb-3 text-center">Update Your Profile</h3>
{% if profile_updated %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Profile updated successfully!</strong>
    </div>
    <script>
        setTimeout(function() {
            $('.alert').alert('close');
        }, 5000);
    </script>
{% endif %}
<div class="card">
    <div class="card-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
  
        <div class="row mb-3">
          <div class="col-md-6">
            <div class="form-group">
              <label for="first_name">First Name</label>
              <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user_form.instance.first_name }}">
            </div>
            <div class="form-group">
              <label for="last_name">Last Name</label>
              <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user_form.instance.last_name }}">
            </div>
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" class="form-control" id="email" name="email" value="{{ user_form.instance.email}}">
            </div>
          </div>
  
          <div class="col-md-6 d-flex align-items-center">
            <div class="text-center flex-grow-1">
                <div class="img-upload-container">
                    <div class="img-preview">
                            <img src="{{ user.profile.image.url }}" alt="Current Profile Picture" class="img-thumbnail cursor-pointer" id="profile-pic-upload" style="height: 200px; width: 200px; border-radius: 50%; margin-right: 20px;border-width: 3px; border-color: {{ user.profile.border_color }};">
                            <label for="image" class="cursor-pointer" id="profile-pic-upload">
                                <section type="submit" class="btn btn-secondary">Browse...</section>
                                <input type="file" class="d-none" id="image" name="image">
                    </div>
                </div>
            </div>
            
            <input type="file" class="d-none" id="image" name="image">  </div>
        </div>
  
        <div class="row" style="margin: auto;">
          <div class="col-md-6" style="margin: auto;">
            <button type="submit" class="btn btn-primary">Update Profile</button>
          </div>
        </div>
      </form>
    </div>
  </div>

{% endblock content %}