{% load static %}

{% for staff in staff_members %}
    <a href="#">
        <div class="staff-member-card" style="display: inline-block; margin: 5px; ">
            <img src="{% if staff.image %}{{ staff.image.url }}{% else %}{{ MEDIA_URL }}profile_pics/default.jpg{% endif %}"
                alt="Profile Picture" id="staff-image-{{ staff.id }}"  style="border: 3px solid; border-radius: 50%; overflow: hidden; width: 60px; height: 60px;" 
                class="circular-frame" height="60px" width="60px">
            <p style="text-align: center;">{{ staff.first_name }}</p>
        </div>
    </a>

{% endfor %}

<script src="{% static 'js/random_color.js' %}"></script>
<script>
  window.onload = function() {  // Run after the page loads
    const staffImages = document.querySelectorAll('.staff-member-card img');
    for (const image of staffImages) {
      image.style.borderColor = `rgb(${random_color()})`;
    }
  }
</script>
