{% load static %}
<div style="background-color: white; padding: 5px; margin: 10px;">
{% for staff in staff_members %}
    <a href="{% url 'calendarapp:calendar_admin' staff.pk %}">
      <div class="staff-member-card" style="display: inline-block; margin: 5px; ">
        <img src="{% if staff.profile.image %}{{ staff.profile.image.url }}{% else %}{{ MEDIA_URL }}profile_pics/default.jpg{% endif %}"
             alt="Profile Picture" id="staff-image-{{ staff.id }}"
             style="border-radius: 50%; overflow: hidden; width: 60px; height: 60px; padding: 2px; border-width: 3px; border: 3px solid {{ staff.profile.border_color }};"
             class="circular-frame" height="60px" width="60px">
        <p style="text-align: center;">{{ staff.first_name|title}}<br>({{ staff.role|title }})</p>
      </div>
    </a>
{% endfor %}
</div>

