{% extends 'base/base.html' %}

{% block content %}
<h2>Exam Grading</h2>

<form method="post" action="{% url 'exam_grading' %}">
    {% csrf_token %}
    {{ formset.management_form }}
    
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Score</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for form in formset %}
                <tr>
                    <td>{{ form.name }}</td>
                    <td>{{ form.score }}</td>
                    <td>{{ form.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <input type="submit" value="Submit">
</form>


{% endblock content %}

